sentence_transformers
langchain
langchain-community
langchainhub
langchain-google-genai
langchain_anthropic
langchain_experimental
langchain-openai
matplotlib
# langchain-chroma
bs4
boto3
langchain-aws
langgraph
langsmith
langchain_anthropic